<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="PAGE_URLS.APP_MAIN_PAGE">DigiLib</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" [routerLink]="PAGE_URLS.LOGIN_PAGE" *ngIf="!isUserLoggedIn()">Login</a>
            <a class="nav-link" [routerLink]="PAGE_URLS.SIGNUP_PAGE" *ngIf="!isUserLoggedIn()">Signup</a>
            <a class="nav-link" href="#" *ngIf="isUserLoggedIn()" (click)="LogOut()" style="color: red;">Logout</a>
            <!-- <a class="nav-link" href="#" *ngIf="!isUserLoggedIn()" onclick="LogOut()">Logout</a> -->
        </form>
    </div>
</nav>