<app-navbar></app-navbar>

<form class="container mt-4 p-4 rounded shadow bg-white" style="max-width: 1100px;">
    <h3 class="mb-3 text-center">Welcome to the DigiLib!</h3>
    <p class="text-center">
        DigiLib is a modern digital library platform where you can browse, search, and manage a vast collection of books, quizzes, and tests.
        Easily add new titles, organize your personal reading list, and access interactive quizzes and assessments to enhance your learning experience.
        Whether you're a casual reader, a student, or a book enthusiast, DigiLib is designed to make your reading and learning journey seamless and enjoyable.
    </p>
    <p class="text-center"><a routerLink="/digilib" class="btn btn-primary btn-sm text-center">Start Journey</a></p>
</form>
